.bit {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: gray;
}

.bin {
  height: 20px;
}

.time-unit-wrapper {
  width: 20px;
  font-family: monospace;
}

.bit-blue-bg {
  background-color: #3584e4;
}

.powers {
  font-family: monospace;
}
